.container {
    background-image: url('../assets/home/background-home-desktop.jpg'); 
  }
  
  /* Media query for tablet screens */
  @media only screen and (max-width: 768px) {
    .container {
      background-image: url('../assets/home/background-home-tablet.jpg'); 
    }
  }
  
  /* Media query for mobile screens */
  @media only screen and (max-width: 480px) {
    .container {
      background-image: url('../assets/home/background-home-mobile.jpg'); 
    }
  }
  